<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.tudarmstadt.informatik.secuso.phishedu"
    android:versionCode="8"
    android:versionName="0.9.1" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.gms.appstate.APP_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.StartMenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="phishedu" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.AwarenessActivity"
            android:label="@string/title_activity_awareness"
            android:parentActivityName="de.tudarmstadt.informatik.secuso.phishedu.StartMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.StartMenuActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.MoreInfoActivity"
            android:label="@string/title_activity_more_info"
            android:parentActivityName="de.tudarmstadt.informatik.secuso.phishedu.StartMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.StartMenuActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.LevelSelectorActivity"
            android:label="@string/title_activity_level_grid"
            android:parentActivityName="de.tudarmstadt.informatik.secuso.phishedu.StartMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.StartMenuActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.LevelIntroActivity"
            android:label="@string/title_level_1_addr_bar_activity"
            android:parentActivityName="de.tudarmstadt.informatik.secuso.phishedu.StartMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.StartMenuActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.URLTaskActivity"
            android:label="@string/title_activity_urltask"
            android:parentActivityName="de.tudarmstadt.informatik.secuso.phishedu.StartMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.StartMenuActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.LevelFinishedActivity"
            android:label="@string/title_level_finished"
            android:parentActivityName="de.tudarmstadt.informatik.secuso.phishedu.StartMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.StartMenuActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.ResultActivity"
            android:label="@string/title_level_finished"
            android:parentActivityName="de.tudarmstadt.informatik.secuso.phishedu.StartMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.StartMenuActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.ProofActivity"
            android:label="@string/title_activity_proof"
            android:parentActivityName="de.tudarmstadt.informatik.secuso.phishedu.StartMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.StartMenuActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName="de.tudarmstadt.informatik.secuso.phishedu.StartMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.StartMenuActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.FindAddressBarActivity"
            android:label="@string/title_activity_find_address_bar"
            android:parentActivityName="de.tudarmstadt.informatik.secuso.phishedu.StartMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.StartMenuActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.AppEndActivity"
            android:label="@string/title_activity_app_end"
            android:parentActivityName="de.tudarmstadt.informatik.secuso.phishedu.StartMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.StartMenuActivity" />
        </activity>
    </application>

</manifest>