<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.tudarmstadt.informatik.secuso.phishedu"
    android:versionCode="6"
    android:versionName="0.3.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
       <!--   <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
       --> 
        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.gms.appstate.APP_ID"
            android:value="@string/app_id" />

        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.StartMenuActivity"
            android:label="@string/title_activity_start_menu" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="phishedu" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.AwarenessActivity"
            android:label="@string/title_activity_awareness" >
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.YouAreWrongActivity"
            android:label="@string/title_activity_awareness" >
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.OversafeActivity"
            android:label="@string/title_activity_awareness" >
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.MoreInfoActivity"
            android:label="@string/title_activity_more_info" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.StartMenuActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.LevelSelectorActivity"
            android:label="@string/title_activity_level_grid" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.StartMenuActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.LevelIntroActivity"
            android:label="@string/title_level_1_addr_bar_activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.StartMenuActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.URLTaskActivity"
            android:label="@string/title_activity_urltask" >
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.LevelFinishedActivity"
            android:label="@string/title_level_finished" >
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.YouAreCorrectActivity"
            android:label="@string/title_level_finished" >
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.YouGuessedActivity"
            android:label="@string/title_level_finished" >
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.ProofActivity"
            android:label="@string/title_activity_proof" >
        </activity>
    </application>

</manifest>
