<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.tudarmstadt.informatik.secuso.phishedu"
    android:versionCode="4"
    android:versionName="0.2.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.gms.appstate.APP_ID"
            android:value="@string/app_id" />

        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.MainActivity"
            android:label="@string/app_name" >
            <category android:name="android.intent.category.DEFAULT" />

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->

        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.BackendTestActivity"
            android:label="@string/title_activity_backend_test" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.AfterAddressBarFoundActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.DisplayYouDontBelieveUsActivity"
            android:label="@string/title_activity_display_you_dont_believe_us" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.MainActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.SendEmailActivity"
            android:label="@string/title_activity_send_email" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.DisplayYouDontBelieveUsActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.AlertDialogActivity"
            android:label="@string/title_activity_alert_dialog" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.SendEmailActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.FinalAwarenessActivity"
            android:label="@string/title_activity_final_awareness" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.AlertDialogActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.ResendEmailOptionActivity"
            android:label="@string/title_activity_resend_email_option" />
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.ResendEmailDialogOptionActivity"
            android:label="@string/title_activity_resend_email_dialog_option" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.AlertDialogActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.StartGameActivity"
            android:label="@string/title_activity_start_game" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.FinalAwarenessActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.NoAwarenessActivityssActivity"
            android:label="@string/title_activity_no_awareness" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.ResendEmailDialogOptionActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.FakeWebsitesInfoActivity"
            android:label="@string/title_activity_fake_websites_info" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.StartGameActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.GameIntroActivity"
            android:label="@string/title_activity_game_intro" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.FakeWebsitesInfoActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.GameIntroductionActivity"
            android:label="@string/title_activity_game_introduction" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.FakeWebsitesInfoActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.FindAddressBarInfoActivityfoActivity"
            android:label="@string/title_activity_find_address_bar_info" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.GameIntroductionActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.FindAddressBarExerciseActivity"
            android:label="@string/title_activity_find_address_bar_exercise" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.FindAddressBarInfoActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.WebAddressFirstInfoActivity"
            android:label="@string/title_activity_web_address_info" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.AfterWebAddressFoundActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.WebAddressSecondInfoActivity"
            android:label="@string/title_activity_web_address_second_info" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.WebAddressFirstInfoActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.WebAddressAmazonExampleActivity"
            android:label="@string/title_activity_web_address_examples" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.WebAddressSecondInfoActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.SolutionAmazonExampleActivity"
            android:label="@string/title_activity_solution_amazon_example" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.WebAddressExamplesActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.WebAddressGoogleExampleActivity"
            android:label="@string/title_activity_web_address_google_example" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.SolutionAmazonExampleActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.SolutionGoogleExampleActivityleActivity"
            android:label="@string/title_activity_solution_google_example" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.WebAddressGoogleExampleActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.WebAddressFaceboookExampleActivity"
            android:label="@string/title_activity_web_address_faceboook_example" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.SolutionGoogleExampleActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.SolutionFacebookExampleActivityebookExampleActivity"
            android:label="@string/title_activity_solution_facebook_example" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.WebAddressFaceboookExampleActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.WebAddressExerciseIntroActivity"
            android:label="@string/title_activity_web_address_exercise_intro" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.SolutionFacebookExampleActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.WebAddressExerciseOneActivitysExerciseOneActivity"
            android:label="@string/title_activity_web_address_exercise_one" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.WebAddressExerciseIntroActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.WebAddressExOneHighlightWww"
            android:label="@string/title_activity_web_address_ex_one_highlight_www" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.WebAddressExerciseOneActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.WebAddressExOneHighlightPaypalCom"
            android:label="@string/title_activity_web_address_ex_one_highlight_paypal_com" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.WebAddressExerciseIntroActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.WebAddressExOneHighlightPath"
            android:label="@string/title_activity_web_address_ex_one_highlight_path" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.WebAddressExerciseOneActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.WebAddressExOneWrongClickPathActivitythActivity"
            android:label="@string/title_activity_web_address_ex_one_wrong_click_path" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.WebAddressExOneHighlightPath" />

            <actide.tudarmstadt.informatik.secuso.phishedu.prototype.WebAddressExOneCorrectClickPaypalComcuso.phishedu.WebAddressExOneCorrectClickPaypalCom>
            </actide.tudarmstadt.informatik.secuso.phishedu.prototype.WebAddressExOneCorrectClickPaypalComcuso.phishedu.WebAddressExOneCorrectClickPaypalCom>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.WebAddressExOneHighlightPaypalCom" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.WebAddressExOneWrongClickWwwngClickWww"
            android:label="@string/title_activity_web_address_ex_one_wrong_click_www" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.WebAddressExOneHighlightWww" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.WebAddressExOneSolutionActivityonActivity"
            android:label="@string/title_activity_web_address_ex_one_solution" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.WebAddressExOneWrongClickPathActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.WebAddressExTwoActivityAddressExTwoActivity"
            android:label="@string/title_activity_web_address_ex_two" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.WebAddressExOneSolutionActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.NonsenseIPAddressesLessonActivity"
            android:label="@string/title_activity_nonsense_ipaddresses_lesson" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.WebAddressExTwoActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.CongratsWebAddressesActivity"
            android:label="@string/title_activity_congrats_web_addresses" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.WebAddressExTwoActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.IpNonsenseUrlInfoActivity"
            android:label="@string/title_activity_ip_nonsense_url_info" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.CongratsWebAddressesActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.IpNonsenseUrlSecondInfoActivity"
            android:label="@string/title_activity_ip_nonsense_url_second_info" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.IpNonsenseUrlInfoActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.IpNonsenseUrlExamplesActivity"
            android:label="@string/title_activity_ip_nonsense_url_examples" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.IpNonsenseUrlSecondInfoActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.IpNonsenseUrlExerciseActivity"
            android:label="@string/title_activity_ip_nonsense_url_exercise" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.IpNonsenseUrlExamplesActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.IpNonsendeUrlExerciseSolutionActivity"
            android:label="@string/title_activity_ip_nonsende_url_exercise_solution" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.IpNonsenseUrlExerciseActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.IpNonsenseUrlExerciseSecondSolution"
            android:label="@string/title_activity_ip_nonsense_url_exercise_second_solution" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.IpNonsendeUrlExerciseSolutionActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.IpNonseUrlExerciseWrongSolutionActivityonActivity"
            android:label="@string/title_activity_ip_nonse_url_exercise_wrong_solution" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.IpNonsenseUrlExerciseActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.IpNonsenseUrlExCorrectActivity"
            android:label="@string/title_activity_ip_nonsense_url_ex_correct" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.IpNonseUrlExerciseWrongSolutionActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.IpNonsendeUrlExWrongActivity"
            android:label="@string/title_activity_ip_nonsende_url_ex_wrong" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.IpNonseUrlExerciseWrongSolutionActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.FindAddressBarSecondInfoActivity"
            android:label="@string/title_activity_find_address_bar_second_info" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.FindAddressBarInfoActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.EmailSpoofingSlideOneActivity"
            android:label="@string/title_activity_email_spoofing_slide_one" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.MainActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.EmailSpoofingSlideTwoActivity"
            android:label="@string/title_activity_email_spoofing_slide_two" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.EmailSpoofingSlideOneActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.EmailSpoofingSlideThreeActivity"
            android:label="@string/title_activity_email_spoofing_slide_three" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.EmailSpoofingSlideTwoActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.EmailSpoofingSlideFourActivity"
            android:label="@string/title_activity_email_spoofing_slide_four" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.EmailSpoofingSlideThreeActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.EmailSpoofingSlideFiveActivity"
            android:label="@string/title_activity_email_spoofing_slide_five" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.EmailSpoofingSlideFourActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.LevelOneActivity"
            android:label="@string/title_activity_level_one" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.GameIntroductionActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.LevelTwoActivityormatik"
            android:label="@string/title_activity_level_two" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.AfterAddressBarFoundActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.LevelThreeActivity"
            android:label="@string/title_activity_level_three" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.CongratsWebAddressesActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.IpNonsenseUrlExerciseTwoActivity"
            android:label="@string/title_activity_ip_nonsense_url_exercise_two" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.IpNonsendeUrlExerciseSolutionActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.IpNonsenseUrlExerciseHighlightHttpActivityt"
            android:label="@string/title_activity_ip_nonsense_url_exercise_highlight_http" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.IpNonsenseUrlExerciseSecondSolution" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.IpNonsenseUrlExerciseHighlightSubdomainActivity"
            android:label="@string/title_activity_ip_nonsense_url_exercise_highlight_subdomain" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.IpNonsenseUrlExerciseSecondSolution" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.IpNonsenseUrlExerciseHighlightDomainActivity"
            android:label="@string/title_activity_ip_nonsense_url_exercise_highlight_domain" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.IpNonsenseUrlExerciseSecondSolution" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.IpNonsenseUrlExerciseSecondSolutionWrong"
            android:label="@string/title_activity_ip_nonsense_url_exercise_second_solution_wrong" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.IpNonsenseUrlExerciseTwoActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.prototype.EndDemoActivityecuso"
            android:label="@string/title_activity_end_demo" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.IpNonsenseUrlExerciseSecondSolutionWrong" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.IpNonsenseUrlExerciseTwoCorrectSolution"
            android:label="@string/title_activity_ip_nonsense_url_exercise_two_correct_solution" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.IpNonsenseUrlExerciseHighlightDomainActivity" />
        </activity>

        <receiver android:name="de.tudarmstadt.informatik.secuso.phishedu.backend.BackendController" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="phishedu" />
            </intent-filter>
        </receiver>

        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.StartMenuActivity"
            android:label="@string/title_activity_start_menu" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.AwarenessActivity"
            android:label="@string/title_activity_awareness" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.StartMenuActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.MoreInfoActivity"
            android:label="@string/title_activity_more_info" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.StartMenuActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.LevelGridActivity"
            android:label="@string/title_activity_level_grid" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.secuso.phishedu.StartMenuActivity" />
        </activity>
        <activity
            android:name="de.tudarmstadt.informatik.secuso.phishedu.IntroGameActivity"
            android:label="@string/title_activity_intro_game" >
        </activity>
    </application>

</manifest>